In [2]:
# could also use to find the most common words used for each listing

In [3]:
# https://www.dataquest.io/blog/web-scraping-tutorial-python/

In [4]:
# https://stackoverflow.com/questions/8897593/similarity-between-two-text-documents
# https://www.oreilly.com/learning/how-do-i-compare-document-similarity-using-python
# https://sites.temple.edu/tudsc/2017/03/30/measuring-similarity-between-texts-in-python/
# http://www.cs.duke.edu/courses/spring14/compsci290/assignments/lab02.html

In [5]:
import pandas as pd
import urllib
import requests
from bs4 import BeautifulSoup

In [6]:
# create list of links
pages = []
pages.append("https://www.ziprecruiter.com/candidate/search?search=data+analyst&location=los+angeles+ca")

for i in range(9):
    page= "https://www.ziprecruiter.com/candidate/search?page="+str(i+2)+"&location=los+angeles+ca&search=data+analyst"
    pages.append(page)

In [7]:
pages

['https://www.ziprecruiter.com/candidate/search?search=data+analyst&location=los+angeles+ca',
 'https://www.ziprecruiter.com/candidate/search?page=2&location=los+angeles+ca&search=data+analyst',
 'https://www.ziprecruiter.com/candidate/search?page=3&location=los+angeles+ca&search=data+analyst',
 'https://www.ziprecruiter.com/candidate/search?page=4&location=los+angeles+ca&search=data+analyst',
 'https://www.ziprecruiter.com/candidate/search?page=5&location=los+angeles+ca&search=data+analyst',
 'https://www.ziprecruiter.com/candidate/search?page=6&location=los+angeles+ca&search=data+analyst',
 'https://www.ziprecruiter.com/candidate/search?page=7&location=los+angeles+ca&search=data+analyst',
 'https://www.ziprecruiter.com/candidate/search?page=8&location=los+angeles+ca&search=data+analyst',
 'https://www.ziprecruiter.com/candidate/search?page=9&location=los+angeles+ca&search=data+analyst',
 'https://www.ziprecruiter.com/candidate/search?page=10&location=los+angeles+ca&search=data+analyst']

In [ ]:
# goes through each page and grabs the link to the company pages
links = []
for p in pages:
    r = requests.get(p)
    soup = BeautifulSoup(r.content,'html.parser')
    link = soup.find_all(class_="job_snippet")
    for i in range(len(link)):
        links.append(link[i].find('a')['href'])

In [ ]:
# extracts title,company, and job description from each link
jobs = []
companies = []
texts = []
for i in links:
    try:
#         grab page html
        page = requests.get(i)
        soup = BeautifulSoup(page.content, 'html.parser')

#         categories
        job = soup.find(class_="job_title").get_text().strip()
        company = soup.find(class_="hiring_company_text t_company_name").get_text().strip()
        text = soup.find(class_="jobDescriptionSection").get_text().strip()

#         appends
        jobs.append(job)
        companies.append(company)
        texts.append(text)
    except:
        jobs.append("None")
        companies.append("None")
        texts.append("None")
        pass

In [ ]:
len(jobs)

In [ ]:
# creating dataframe
df_zip = pd.DataFrame({"job":jobs,"company":companies,"links":links,"text": texts})

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
documents = df_zip.text.tolist()

In [ ]:
# open up resume 
f = open("/Users/patrick.chen/Desktop/untitled folder/resume.txt","r")
string = f.read()
resume = string.encode('ascii', errors='ignore').decode("utf-8").strip("\n")
documents.append(resume)

In [ ]:
# tf-idf
tfidf = TfidfVectorizer(stop_words='english').fit_transform(documents)
pairwise_similarity = tfidf * tfidf.T

In [ ]:
df = pd.DataFrame(pairwise_similarity.A)

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
sns.set_style("whitegrid")

In [ ]:
df2 = df.iloc[1:]

In [ ]:
g = sns.barplot(x = df2.index, y = df2[0].values)

In [ ]:
df[df[0]>.2]

In [1]:
documents[0]

NameError: name 'documents' is not defined

# Ziprecruiter Site

In [ ]:
page = requests.get("https://www.ziprecruiter.com/candidate/search?search=data+analyst&location=los+angeles+ca")
soup = BeautifulSoup(page.content, 'html.parser')
link = soup.find_all(class_="job_snippet")

links = []
for i in range(len(link)):
    links.append(link[i].find('a')['href'])

In [3]:
# ziprecruiter
# class: just_job_title  (job_title)
# class: t_org_link name (company_name)

In [4]:
# create list of links
links = []
links.append("https://www.ziprecruiter.com/candidate/search?search=data+analyst&location=los+angeles+ca")

for i in range(9):
    link = "https://www.ziprecruiter.com/candidate/search?page="+str(i+2)+"&location=los+angeles+ca&search=data+analyst"
    links.append(link)

In [82]:
# reset job, company list
job=[]
company = []

# fill in job and company lists
jobs = []
companies = []

for link in links:
    page = requests.get(link)
    
    soup = BeautifulSoup(page.content, 'html.parser')
    
    job = soup.find_all(class_="just_job_title")
    for i in job:
        jobs.append(i.get_text())
        
    company = soup.find_all(class_="t_org_link name")
    for i in company:
        companies.append(i.get_text())
        
# creating dataframe
df_zip = pd.DataFrame({"job": jobs, "company": companies})

In [85]:
df_zip

,company,job
0,Dignity Health,Data Analyst
1,Live Nation Entertainment,Jr. IT Data Analyst (Contractor)
2,Forbes Capital Solutions,Data Analyst (Experienced)
3,Common Securitization Solutions,Data Analyst
4,Transdev,Data Analyst
5,9Dot HR,Data Analyst II
6,Bird Rides Inc.,Data Analyst
7,Dignity Health,Data Analyst
8,ECA Staffing Solutions Inc,Data Analyst - 850
9,Login Consulting Services Inc.,Business Intelligence Data Analyst
10,Cybercoders,Data Analyst
11,"SkillsetGroup - Manufacturing, Engineering, & ...",eCommerce Data Analyst
12,Voca,Data Analyst
13,Sprint Store by ArchTelecom,Data Analyst
14,AIDS Healthcare Foundation,Data Analyst- Application
15,GPS Staffing,Data/ Business Analyst- Healthcare
16,Global Iis / Dp&c-2Intermediate,IIS - Senior Data Analyst
17,KORE1 Technologies,Senior Data and Reporting Financial Systems An...
18,PatientPop,"Senior Data Analyst (analytics, BI, big data)"
19,Launch Infotech,Business Analyst - Enterprise Data Warehouse &...
20,Irvine Technology Corporation,Healthcare Reporting and Data Quality Analyst
21,Golden Hippo Media,Data Analyst
22,Allscripts,MS Expert Data Analytics Scientist - Business ...
23,PlayStation Network,Data Analyst (Contract)
24,UCLA Health and David Geffen School of Medicine,Principal Data Analyst - Los Angeles
25,MarketShare,Data Analyst
26,Prosum,Reporting & Data Quality Analyst
27,KORE1 Technologies,Data Analyst
28,Booz Allen,"Data Analyst, Junior"
29,NuORDER,Data Analyst - Client Onboarding
...,...,...
169,Soylent,Data Analyst
170,EPAM Systems Inc,Business Analyst
171,"Ronin Staffing, LLC",Programmer Analyst
172,Molina Healthcare,"Director, Data Analytics"
173,Jam City,Marketing Data Analyst
174,"LIVE NATION, INC",Data Analyst
175,"Union Bank, N.A.",Business Data Analyst - Banking/Real Estate
176,Cedars-Sinai,Sr. Data Analytics Specialist
177,Care1st,Sr Business Systems Analyst
178,Teradata,"Sr. Business Consultant, CPG/Retail - Think Bi..."
179,New Leaf Consulting,Data Quality/Governance Analysts
180,Groundwork Coffee Co,Business Analyst
181,ModCloth,Senior Merchandise Data & Reporting Analyst
182,Blue Shield of California,"Business Analyst, Consultant/Lead"
183,Social Gaming Network,Marketing Data Analyst
184,"Inter Con Security Systems, Inc.",BUSINESS ANALYST
185,"Activision Publishing, Inc.",Lead Analyst (SQL)
186,Centene Corporation,Data Analyst III
187,Vichara,Business Analyst - Hedge Fund
188,TechLink Resources,Data Warehouse Analyst
189,Cetera Financial Group,Business Analyst
190,"Software Resources, Inc.",Senior Business Analyst
191,CSM Bakery Solutions,Business Analyst
192,Mercury Insurance Group,Data Analyst - Product (Dept.#A0073)
193,Nordstrom,Advanced Analytics Intern
194,UMPG,Senior Analyst / Analyst (Depending on experie...
195,Living Spaces Furniture,Data Analyst
196,Cognitive Ed LLC,Business Analyst Television Distribution
197,Equis Staffing,Business Analyst
198,"Iconma, L.L.C.",Business Analyst